xmlvalidator/Schemas/dita/topic_class.ent

<!--  
 | Copyright IBM Corporation, 2001, 2002
 | This file is part of the DITA package on IBM's developerWorks site.
 | See license.txt for disclaimers.
 |
 | The Darwin Information Typing Architecture (DITA) was orginated by
 | IBM's XML Workgroup and ID Workbench tools team.
 |
 | Refer to this file by the following public identfier or an appropriate
 | system identifier:
 |
 |   PUBLIC "-//IBM//ENTITIES DITA Topic Class//EN"
 |
 | Release history (vrm):
 |   1.0.0 Initial release on developerWorks, March 2001 (dita00.zip)
 |   1.0.1 fix 1 on developerWorks, October 2001 (dita01.zip)
 |   1.0.2 consolidated redesign December 2001
 |   1.0.3 fix 1, dtd freeze for UCD-1 January 2002
 |   1.1.0 Release 1 March 2002
 *-->

<!ATTLIST topic class CDATA "- topic/topic ">
<!ATTLIST title class CDATA "- topic/title ">
<!ATTLIST titlealts class CDATA "- topic/titlealts ">
<!ATTLIST navtitle class CDATA "- topic/navtitle ">
<!ATTLIST searchtitle class CDATA "- topic/searchtitle ">
<!ATTLIST shortdesc class CDATA "- topic/shortdesc ">
<!ATTLIST body class CDATA "- topic/body ">
<!ATTLIST no-topic-nesting class CDATA "- topic/no-topic-nesting ">
<!ATTLIST section class CDATA "- topic/section ">
<!ATTLIST example class CDATA "- topic/example ">
<!ATTLIST desc class CDATA "- topic/desc ">
<!ATTLIST prolog class CDATA "- topic/prolog ">
<!ATTLIST metadata class CDATA "- topic/metadata ">
<!ATTLIST p class CDATA "- topic/p ">
<!ATTLIST note class CDATA "- topic/note ">
<!ATTLIST lq class CDATA "- topic/lq ">
<!ATTLIST q class CDATA "- topic/q ">
<!ATTLIST ul class CDATA "- topic/ul ">
<!ATTLIST ol class CDATA "- topic/ol ">
<!ATTLIST li class CDATA "- topic/li ">
<!ATTLIST itemgroup class CDATA "- topic/itemgroup ">
<!ATTLIST dl class CDATA "- topic/dl ">
<!ATTLIST dlhead class CDATA "- topic/dlhead ">
<!ATTLIST dthd class CDATA "- topic/dthd ">
<!ATTLIST ddhd class CDATA "- topic/ddhd ">
<!ATTLIST dlentry class CDATA "- topic/dlentry ">
<!ATTLIST dt class CDATA "- topic/dt ">
<!ATTLIST dd class CDATA "- topic/dd ">
<!ATTLIST fig class CDATA "- topic/fig ">
<!ATTLIST figgroup class CDATA "- topic/figgroup ">
<!ATTLIST pre class CDATA "- topic/pre ">
<!ATTLIST lines class CDATA "- topic/lines ">
<!ATTLIST term class CDATA "- topic/term ">
<!ATTLIST ph class CDATA "- topic/ph ">
<!ATTLIST tm class CDATA "- topic/tm ">
<!ATTLIST boolean class CDATA "- topic/boolean ">
<!ATTLIST state class CDATA "- topic/state ">
<!ATTLIST image class CDATA "- topic/image ">
<!ATTLIST object class CDATA "- topic/object ">
<!ATTLIST param class CDATA "- topic/param ">
<!ATTLIST simpletable class CDATA "- topic/simpletable ">
<!ATTLIST sthead class CDATA "- topic/sthead ">
<!ATTLIST strow class CDATA "- topic/strow ">
<!ATTLIST stentry class CDATA "- topic/stentry ">
<!ATTLIST draft-comment class CDATA "- topic/draft-comment ">
<!ATTLIST required-cleanup class CDATA "- topic/required-cleanup ">
<!ATTLIST fn class CDATA "- topic/fn ">
<!ATTLIST indextermref class CDATA "- topic/indextermref ">
<!ATTLIST cite class CDATA "- topic/cite ">
<!ATTLIST xref class CDATA "- topic/xref ">
<!ATTLIST related-links class CDATA "- topic/related-links ">
<!ATTLIST link class CDATA "- topic/link ">
<!ATTLIST linktext class CDATA "- topic/linktext ">
<!ATTLIST linklist class CDATA "- topic/linklist ">
<!ATTLIST linkpool class CDATA "- topic/linkpool ">
