College/C/XML_Project/schema.xsd

<?xml version = '1.0' encoding = 'utf-16'?>
<zs:schema xmlns:zs = 'http://www.w3.org/2001/XMLSchema'>
<zs:element name = 'teh'>
<zs:complexType>
<zs:sequence>
<zs:element name = 'stud' minOccurs = '0' maxOccurs = 'unbounded'>
<zs:complexType>
<zs:sequence>
<zs:element name = 'fam'></zs:element>
<zs:element name = 'name'></zs:element>
<zs:element name = 'group'></zs:element>
<zs:element name = 'rost'></zs:element>
</zs:sequence>
</zs:complexType>
</zs:element>
</zs:sequence></zs:complexType>
</zs:element></zs:schema>
