xmlvalidator/Schemas/mtx/mtx_schema_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Enrico Rukzio-->
<schema targetNamespace="http://www.viewpoint.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:vsg="http://www.viewpoint.com" elementFormDefault="qualified" version="0.21">
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<element name="MTSScene" type="vsg:MTSSceneType"/>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="MTSSceneType">
		<annotation>
			<documentation>The root element that contains all scene information. </documentation>
		</annotation>
		<sequence minOccurs="0" maxOccurs="unbounded">
			<element name="ContentInfo" type="vsg:ContentInfoType" minOccurs="0"/>
			<element name="MTSSceneParms" type="vsg:MTSSceneParmsType" minOccurs="0"/>
			<element name="MTSBaseComponent" type="vsg:MTSBaseComponentType" minOccurs="0"/>
			<element name="MTXDoneEvent" type="vsg:MTXDoneEventType" minOccurs="0"/>
			<element name="MTSCamera" type="vsg:MTSCameraType" minOccurs="0"/>
			<element name="MTSTextureMap" type="vsg:MTSTextureMapType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSInstance" type="vsg:MTSInstanceType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSTimeElem" type="vsg:MTSTimeElemType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSAction" type="vsg:MTSActionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSInteractor" type="vsg:MTSInteractorType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSPreload" type="vsg:MTSPreloadType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="Version" type="vsg:VersionType"/>
	</complexType>
	<simpleType name="VersionType">
		<restriction base="nonNegativeInteger">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
			<enumeration value="4"/>
			<enumeration value="308"/>
		</restriction>
	</simpleType>
	<complexType name="ContentInfoType">
		<attribute name="Version" type="nonNegativeInteger"/>
	</complexType>
	<complexType name="MTSPreloadType">
		<attribute name="Delay" type="integer"/>
		<attribute name="Message" type="string"/>
		<attribute name="Path" type="string"/>
		<attribute name="Priority" type="integer"/>
	</complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~Begin of MTSSceneParmsType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="MTSSceneParmsType">
		<annotation>
			<documentation>Contains settings affecting the entire scene, such as rendering mode and shadows. Also, contains the subelement MTSPanorama, a type of JPEG placed in a scene either as a 360-degree or flat background. </documentation>
		</annotation>
		<sequence>
			<element name="MTSPanorama" type="vsg:MTSPanoramaType" minOccurs="0"/>
			<element name="Transform" type="vsg:TransformType" minOccurs="0"/>
			<element name="MTSTextureMap" type="vsg:MTSTextureMapType" minOccurs="0"/>
		</sequence>
		<attribute name="AccumMax" type="integer"/>
		<attribute name="AntiAlias" type="vsg:Boolean"/>
		<attribute name="AntiAliasMinimumMilliSecs" type="decimal"/>
		<attribute name="BackColor" type="vsg:RGBType"/>
		<attribute name="BlendShadow" type="vsg:Boolean"/>
		<attribute name="BoundShadow" type="vsg:Boolean"/>
		<attribute name="Cursor" type="integer"/>
		<attribute name="DoShadow" type="vsg:Boolean"/>
		<attribute name="DoHilite" type="vsg:Boolean"/>
		<attribute name="EdgeBias" type="decimal"/>
		<attribute name="EdgeEffect" type="vsg:EdgeEffectType"/>
		<attribute name="FilterMinimumMilliSecs" type="decimal"/>
		<attribute name="Prelite" type="vsg:Boolean"/>
		<attribute name="PreliteColor" type="vsg:RGBType"/>
		<attribute name="RenderMode" type="string"/>
		<attribute name="RequiresClear" type="vsg:Boolean"/>
		<attribute name="ShadowColor" type="vsg:RGBType"/>
		<attribute name="ShadowOpacity" type="vsg:SeroToOneType"/>
		<attribute name="ShadowRadius" type="decimal"/>
		<attribute name="ShadowY" type="decimal"/>
		<attribute name="ShowWidgets" type="vsg:Boolean"/>
		<attribute name="SortRule" type="vsg:SortRuleType"/>
		<attribute name="VirtualMouse" type="vsg:Boolean"/>
		<!-- bp -->
	</complexType>
	<simpleType name="EdgeEffectType">
		<restriction base="nonNegativeInteger">
			<enumeration value="0"/>
			<enumeration value="1"/>
			<enumeration value="2"/>
		</restriction>
	</simpleType>
	<simpleType name="SortRuleType">
		<restriction base="integer">
			<enumeration value="-1"/>
			<enumeration value="0"/>
			<enumeration value="1"/>
			<enumeration value="2"/>
		</restriction>
	</simpleType>
	<complexType name="MTSPanoramaType">
		<sequence>
			<element name="MTSMaterial" type="vsg:MTSMaterialType"/>
		</sequence>
		<attribute name="name" type="string"/>
		<attribute name="type" type="vsg:MTSPanoramaTypeType"/>
		<attribute name="on" type="vsg:Boolean"/>
	</complexType>
	<simpleType name="MTSPanoramaTypeType">
		<restriction base="string">
			<enumeration value="Cylinder"/>
			<enumeration value="Sphere"/>
			<enumeration value="Flat"/>
		</restriction>
	</simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~End of MTSSceneParmsType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~Begin of MTSCameraType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="MTSCameraType">
		<annotation>
			<documentation>Contains instructions for the how the scene is viewed.</documentation>
		</annotation>
		<all>
			<element name="LookAt" type="vsg:Vector3DType" minOccurs="0"/>
			<element name="Pivot" type="vsg:Vector3DType" minOccurs="0"/>
			<element name="Rotate" type="vsg:Vector3DType" minOccurs="0"/>
			<element name="Scale" type="vsg:Vector3DType" minOccurs="0"/>
			<element name="Scale2d" type="vsg:Vector2DType" minOccurs="0"/>
			<element name="Scale2D" type="vsg:Vector2DType" minOccurs="0"/>
			<element name="Translate" type="vsg:Vector3DType" minOccurs="0"/>
			<element name="Translate2d" type="vsg:Vector2DType" minOccurs="0"/>
			<element name="Translate2D" type="vsg:Vector2DType" minOccurs="0"/>
			<element name="ViewLocation" type="vsg:Vector3DType" minOccurs="0"/>
		</all>
		<attribute name="Mode" type="vsg:CameraModeType"/>
		<attribute name="CameraDistMax" type="decimal"/>
		<attribute name="CameraDistMin" type="decimal"/>
		<attribute name="CameraPositionMax" type="vsg:Vector3DString"/>
		<attribute name="CameraPositionMin" type="vsg:Vector3DString"/>
		<attribute name="CameraRotateMax" type="vsg:Vector3DString"/>
		<attribute name="CameraRotateMin" type="vsg:Vector3DString"/>
		<attribute name="CameraScaleMax" type="vsg:Vector3DString"/>
		<attribute name="CameraScaleMin" type="vsg:Vector3DString"/>
		<attribute name="CameraUnitScale" type="vsg:Vector3DString"/>
		<attribute name="OrbitDist" type="decimal"/>
		<attribute name="StickyMouse" type="string"/>
		<attribute name="SenseMouse" type="string"/>
		<!-- depricated?? -->
	</complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<simpleType name="CameraModeType">
		<restriction base="string">
			<enumeration value="Orbit"/>
			<enumeration value="Walk"/>
			<enumeration value="Pano"/>
			<enumeration value="Still"/>
		</restriction>
	</simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~End of MTSCameraType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~Begin of MTSTextureMapType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="MTSTextureMapType">
		<annotation>
			<documentation>An optional element that is used to create effects with textures, such as texture animations or the replacement of a JPEG-based texture with a Flash file. </documentation>
		</annotation>
		<sequence>
			<element name="LightProcedural" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="Light" maxOccurs="unbounded">
							<complexType>
								<attribute name="r" type="decimal"/>
								<attribute name="g" type="decimal"/>
								<attribute name="b" type="decimal"/>
								<attribute name="x" type="decimal"/>
								<attribute name="y" type="decimal"/>
								<attribute name="z" type="decimal"/>
								<attribute name="Specularity" type="vsg:SeroToOneType"/>
								<attribute name="Intensity" type="vsg:SeroToOneType"/>
							</complexType>
						</element>
					</sequence>
					<attribute name="Blur" type="vsg:SeroToOneType"/>
					<attribute name="ClampDiffuse" type="decimal"/>
				</complexType>
			</element>
			<element name="Transform" type="vsg:TransformType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="Bilerp" type="vsg:Boolean"/>
		<attribute name="Filter" type="vsg:Boolean"/>
		<attribute name="HasAlpha" type="vsg:Boolean"/>
		<attribute name="InvertAlpha" type="vsg:Boolean"/>
		<attribute name="Mip" type="vsg:Boolean"/>
		<attribute name="MipBias" type="nonNegativeInteger"/>
		<attribute name="MTSColor" type="vsg:RGBType"/>
		<attribute name="Name" type="string"/>
		<attribute name="Path" type="string"/>
		<attribute name="Type" type="vsg:MTSTextureMapTypeType"/>
		<attribute name="x" type="nonNegativeInteger"/>
		<attribute name="y" type="nonNegativeInteger"/>
	</complexType>
	<simpleType name="MTSTextureMapTypeType">
		<restriction base="string">
			<enumeration value="Diffuse"/>
			<enumeration value="Light"/>
			<enumeration value="Bump"/>
		</restriction>
	</simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~End  of MTSTextureMapType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~Begin  of MTSInstanceType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="MTSInstanceType">
		<annotation>
			<documentation>An instance is the entire description of a geometry, including its materials and textures. </documentation>
		</annotation>
		<sequence minOccurs="0" maxOccurs="unbounded">
			<element name="Transform" type="vsg:TransformType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSGeometry" type="vsg:MTSGeometryType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSMaterial" type="vsg:MTSMaterialType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSCamera" type="vsg:MTSCameraType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSInstance" type="vsg:MTSInstanceType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="LayerData" type="vsg:LayerDataType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="OnClick" type="vsg:ActionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="OnDrag" type="vsg:ActionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="OnEnter" type="vsg:ActionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="OnExit" type="vsg:ActionType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSHandle" type="vsg:MTSHandleType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="AntiAlias" type="vsg:Boolean"/>
		<attribute name="Billboard" type="vsg:Boolean"/>
		<attribute name="Collapsed" type="vsg:Boolean"/>
		<attribute name="collapsed" type="vsg:Boolean"/>
		<attribute name="CursorOver" type="string"/>
		<attribute name="DoShadow" type="vsg:Boolean"/>
		<attribute name="Dragable" type="vsg:Boolean"/>
		<attribute name="EdgeFlag" type="vsg:IntegerType"/>
		<attribute name="Name" type="string"/>
		<attribute name="Opacity" type="vsg:SeroToOneType"/>
		<attribute name="PassClick" type="vsg:IntegerType"/>
		<attribute name="PreliteColor" type="vsg:RGBType"/>
		<attribute name="RenderLayer" type="vsg:IntegerType"/>
		<attribute name="Visible" type="vsg:Boolean"/>
		<attribute name="Zbuffer" type="vsg:Boolean"/>
		<attribute name="ZBuffer" type="vsg:Boolean"/>
		<!-- both are mentioned in some files -->
	</complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="ActionType">
		<attribute name="Action" type="vsg:ActionTypeAction"/>
		<attribute name="ID" type="vsg:IntegerType"/>
		<attribute name="Target" type="string"/>
		<attribute name="Property" type="string"/>
		<attribute name="Value" type="string"/>
	</complexType>
	<simpleType name="MTSHandleTypeEvent">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="ActionTypeAction">
		<restriction base="string"/>
	</simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="MTSGeometryType">
		<sequence>
			<element name="Transform" type="vsg:TransformType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="BackFaceCull" type="vsg:Boolean"/>
		<attribute name="BackFaceDir" type="decimal"/>
		<attribute name="CreaseAngle" type="decimal"/>
		<attribute name="CubeMapping" type="string"/>
		<attribute name="EndDegrees" type="decimal"/>
		<attribute name="Name" type="string"/>
		<attribute name="NoAACreases" type="vsg:Boolean"/>
		<attribute name="NoAAMaterials" type="vsg:Boolean"/>
		<attribute name="NoAAOpenEdges" type="vsg:Boolean"/>
		<attribute name="Resolution" type="decimal"/>
		<attribute name="Segments" type="decimal"/>
		<attribute name="SpecWrap" type="vsg:Boolean"/>
		<attribute name="StartDegrees" type="decimal"/>
		<attribute name="Type" type="vsg:MTSGeometryTypeType"/>
	</complexType>
	<simpleType name="MTSGeometryTypeType">
		<restriction base="string">
			<enumeration value="MTSSphere"/>
			<enumeration value="MTSCube"/>
			<enumeration value="MTSBox"/>
			<enumeration value="MTSCylinder"/>
			<enumeration value="MTSCone"/>
			<enumeration value="MTSPyramid"/>
			<enumeration value="MTSPlane"/>
		</restriction>
	</simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="MTSMaterialType">
		<sequence>
			<element name="MTSTextureMap" type="vsg:MTSTextureMapType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSColor" type="vsg:MTSColorType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="BumpStrength" type="string"/>
		<attribute name="Dither" type="decimal"/>
		<attribute name="EdgeBias" type="decimal"/>
		<attribute name="ID" type="string"/>
		<attribute name="Name" type="string"/>
		<attribute name="Opacity" type="vsg:SeroToOneType"/>
		<attribute name="RenderMode" type="vsg:RenderModeType"/>
		<attribute name="SpecAmount" type="decimal"/>
		<attribute name="SpecCoeff" type="decimal"/>
	</complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="MTSColorType">
		<attribute name="r" type="vsg:SeroToOneType"/>
		<attribute name="g" type="vsg:SeroToOneType"/>
		<attribute name="b" type="vsg:SeroToOneType"/>
		<attribute name="Type" type="vsg:MTSColorTypeType"/>
	</complexType>
	<simpleType name="MTSColorTypeType">
		<restriction base="string">
			<enumeration value="Diffuse"/>
			<enumeration value="Specular"/>
		</restriction>
	</simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="LayerDataType">
		<attribute name="AlwaysVisible" type="vsg:Boolean"/>
		<attribute name="Anchor" type="vsg:Vector2DString"/>
		<attribute name="AnchorWidget" type="vsg:Boolean"/>
		<attribute name="Bold" type="vsg:Boolean"/>
		<attribute name="Center" type="vsg:Vector3DString"/>
		<attribute name="DstPin" type="vsg:Vector2DString"/>
		<attribute name="DstPinFlag" type="decimal"/>
		<attribute name="DstPinRel" type="decimal"/>
		<attribute name="Font" type="string"/>
		<attribute name="Italic" type="vsg:Boolean"/>
		<attribute name="Language" type="vsg:LanguageType"/>
		<attribute name="Name" type="string"/>
		<attribute name="Radius" type="decimal"/>
		<attribute name="SrcPin" type="vsg:Vector2DString"/>
		<attribute name="Shadow" type="vsg:Boolean"/>
		<attribute name="SrcPinFlag" type="decimal"/>
		<attribute name="SrcPinRel" type="decimal"/>
		<attribute name="Strikeout" type="vsg:Boolean"/>
		<attribute name="Text" type="string"/>
		<attribute name="TextAlign" type="integer"/>
		<attribute name="HitTestAlpha" type="integer"/>
		<attribute name="TextColor" type="string"/>
		<attribute name="Color" type="vsg:RGBType"/>
		<attribute name="TextSize" type="decimal"/>
		<attribute name="Texture" type="string"/>
		<attribute name="TrackPoint" type="vsg:Vector3DString"/>
		<attribute name="Underline" type="vsg:Boolean"/>
		<attribute name="ShadowRadius" type="decimal"/>
		<attribute name="WidgetClamp" type="integer"/>
		<attribute name="WidgetLine" type="vsg:Boolean"/>
	</complexType>
	<simpleType name="LanguageType">
		<restriction base="string">
			<enumeration value="English"/>
			<enumeration value="Japanese"/>
			<enumeration value="ChineseSimplified"/>
			<enumeration value="Korean"/>
			<enumeration value="ChineseTraditional"/>
			<enumeration value="EasternEuropean"/>
			<enumeration value="Russian"/>
			<enumeration value="Greek"/>
		</restriction>
	</simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~End of MTSInstanceType -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="Layer2D">
		<annotation>
			<documentation>Contained within an instance, hot spots are procedural geometries that, with user input such as a mouse-over, display text or a texture.  </documentation>
		</annotation>
	</complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~Begin of MTSInteractorType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="MTSInteractorType">
		<annotation>
			<documentation>These are systems of events and actions that harness system, scene, and user input. </documentation>
		</annotation>
		<sequence minOccurs="0" maxOccurs="unbounded">
			<element name="RemoveStates" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Target" type="vsg:MTSInteractorTargetType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSInteractor" type="vsg:MTSInteractorType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSHandle" type="vsg:MTSHandleType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="OnClick" type="vsg:MTSInteractorEventType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="OnDrag" type="vsg:MTSInteractorEventType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="OnEnter" type="vsg:MTSInteractorEventType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="OnExit" type="vsg:MTSInteractorEventType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="Active" type="vsg:Boolean"/>
		<attribute name="AfterChildren" type="vsg:Boolean"/>
		<attribute name="BeforeChildren" type="vsg:Boolean"/>
		<attribute name="Collapse" type="vsg:Boolean"/>
		<attribute name="IgnoreError" type="vsg:Boolean"/>
		<attribute name="IgnoreHandled" type="vsg:Boolean"/>
		<attribute name="Name" type="string"/>
		<attribute name="NeverHandle" type="vsg:Boolean"/>
		<attribute name="Type" type="string"/>
		<attribute name="Process" type="vsg:Boolean"/>
		<attribute name="Propagate" type="vsg:Boolean"/>
		<attribute name="StartState" type="string"/>
		<attribute name="Visible" type="vsg:Boolean"/>
	</complexType>
	<complexType name="MTSInteractorTargetType">
		<attribute name="Name" type="string"/>
	</complexType>
	<complexType name="MTSHandleType">
		<attribute name="Action" type="vsg:ActionTypeAction"/>
		<attribute name="_dx" type="string"/>
		<attribute name="_dy" type="string"/>
		<attribute name="Delay" type="integer"/>
		<attribute name="Dest" type="string"/>
		<attribute name="EndState" type="string"/>
		<attribute name="Event" type="vsg:MTSHandleTypeEvent"/>
		<attribute name="Func" type="string"/>
		<attribute name="Message" type="string"/>
		<attribute name="Path" type="string"/>
		<attribute name="Property" type="string"/>
		<attribute name="Scale" type="decimal"/>
		<attribute name="Src" type="string"/>
		<attribute name="StartState" type="string"/>
		<attribute name="Target" type="string"/>
		<attribute name="Value" type="string"/>
		<attribute name="x" type="string"/>
		<attribute name="y" type="string"/>
		<attribute name="z" type="string"/>
		<!-- ep -->
		<!-- ep -->
		<!-- ep -->
	</complexType>
	<complexType name="MTSInteractorEventType">
		<attribute name="StartState" type="string"/>
		<attribute name="EndState" type="string"/>
		<attribute name="targ1" type="string"/>
		<attribute name="Action" type="string"/>
		<attribute name="Value" type="string"/>
	</complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~End of MTSInteractorType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~Begin of MTSActionType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="MTSActionType">
		<sequence minOccurs="0" maxOccurs="unbounded">
			<element name="Collapse" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="JavaScript" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSAssignProperty" type="vsg:MTSAssignPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSAssignProperty" type="vsg:MTSAssignPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSCopyProperty" type="vsg:MTSCopyPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSDrag" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSJavaScript" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSLoadMTX" type="vsg:MTSLoadMTXType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSMoveObject" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSPingURL" type="vsg:MTSLoadMTXType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSSetProperty" type="vsg:MTSAssignPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PostMessage" type="vsg:MTSPostMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Reset" type="vsg:MTSAssignPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ResetHier" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ResetWild" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ResetWildHier" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSVBScript" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Stop" type="vsg:MTSAssignPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Start" type="vsg:MTSAssignPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Trigger" type="vsg:MTSAssignPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Uncollapse" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- bp -->
			<!-- ep -->
			<!-- ep -->
			<!-- ep -->
			<!-- bp -->
			<!-- bp -->
			<!-- ep -->
			<!-- ep -->
			<!-- ep -->
			<!-- ep -->
			<!-- ep -->
			<!-- ep -->
			<!-- ep -->
			<!-- bp -->
			<!-- bp -->
			<!-- bp -->
			<!-- bp -->
		</sequence>
		<attribute name="EventList" type="string"/>
		<attribute name="Name" type="string"/>
		<attribute name="Type" type="vsg:MTSActionTypeType"/>
	</complexType>
	<complexType name="MTSAssignPropertyType">
		<attribute name="Target" type="string"/>
		<attribute name="Value" type="string"/>
		<attribute name="Property" type="string"/>
	</complexType>
	<complexType name="MTSCopyPropertyType">
		<attribute name="Src" type="string"/>
		<attribute name="Dest" type="string"/>
		<!-- ep -->
	</complexType>
	<complexType name="MTSJavaScriptType">
		<attribute name="Target" type="string"/>
		<!-- bp -->
	</complexType>
	<complexType name="MTSLoadMTXType">
		<attribute name="Path" type="string"/>
		<!-- bp -->
	</complexType>
	<complexType name="MTSPostMessageType">
		<attribute name="Message" type="string"/>
		<attribute name="Delay" type="decimal"/>
		<!-- ep -->
	</complexType>
	<simpleType name="MTSActionTypeType">
		<restriction base="string">
			<enumeration value="DataTrack"/>
			<enumeration value="LoadMTXStr"/>
			<enumeration value="MTSEventCollection"/>
			<enumeration value="MTSScript"/>
		</restriction>
	</simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~End of MTSActionType  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="MTXDoneEventType">
		<annotation>
			<documentation>A tag that allows you to trigger an event when the mtx is fully loaded. </documentation>
		</annotation>
		<attribute name="Data" type="string"/>
		<!-- bp -->
	</complexType>
	<complexType name="MTSBaseComponentType">
		<annotation>
			<documentation>A technology proprietary to Viewpoint that allows a scene or elements of a scene to use the entire desktop for display. </documentation>
		</annotation>
		<attribute name="CoordinateSystem" type="nonNegativeInteger"/>
		<attribute name="ForceHyperView" type="vsg:Boolean"/>
		<attribute name="PreserveCamera" type="nonNegativeInteger"/>
		<attribute name="Rect" type="string"/>
	</complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~Begin  of MTSTimeElem  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="MTSTimeElemType">
		<annotation>
			<documentation>Animations can be used to control how scene and resource files load, as well as more common uses, such as moving an object or changing a texture. </documentation>
		</annotation>
		<sequence minOccurs="0" maxOccurs="unbounded">
			<element name="Target" type="vsg:TargetType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Time" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Timeline" type="vsg:TimelineType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSAssignProperty" type="vsg:MTSAssignPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSTimeElem" type="vsg:MTSTimeElemType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Background" type="vsg:BackgroundType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Text" type="vsg:TextType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="EnterEvent" type="vsg:EventType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ExitEvent" type="vsg:EventType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="RefObject" type="vsg:RefObjectType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Collapse" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="JavaScript" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSAssignProperty" type="vsg:MTSAssignPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSAssignProperty" type="vsg:MTSAssignPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSCopyProperty" type="vsg:MTSCopyPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSDrag" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSJavaScript" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSLoadMTX" type="vsg:MTSLoadMTXType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSMoveObject" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSPingURL" type="vsg:MTSLoadMTXType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSSetProperty" type="vsg:MTSAssignPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="PostMessage" type="vsg:MTSPostMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Reset" type="vsg:MTSAssignPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ResetHier" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ResetWild" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ResetWildHier" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="MTSVBScript" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Stop" type="vsg:MTSAssignPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Start" type="vsg:MTSAssignPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Trigger" type="vsg:MTSAssignPropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="Uncollapse" type="vsg:MTSJavaScriptType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Added for ActionAnimators-->
			<!-- bp -->
			<!-- ep -->
			<!-- ep -->
			<!-- ep -->
			<!-- bp -->
			<!-- bp -->
			<!-- ep -->
			<!-- ep -->
			<!-- ep -->
			<!-- ep -->
			<!-- ep -->
			<!-- ep -->
			<!-- ep -->
			<!-- bp -->
			<!-- bp -->
			<!-- bp -->
			<!-- bp -->
		</sequence>
		<attribute name="Advance" type="decimal"/>
		<attribute name="Aspt" type="decimal"/>
		<attribute name="AutoStop" type="vsg:Boolean"/>
		<attribute name="BaseName" type="string"/>
		<attribute name="Bilinear" type="vsg:Boolean"/>
		<attribute name="Bound" type="string"/>
		<attribute name="Brit" type="decimal"/>
		<attribute name="Clamp" type="vsg:IntegerType"/>
		<attribute name="Comp" type="nonNegativeInteger"/>
		<attribute name="Collapsed" type="vsg:Boolean"/>
		<attribute name="DblB" type="nonNegativeInteger"/>
		<attribute name="digl" type="integer"/>
		<attribute name="Dirt" type="vsg:IntegerType"/>
		<attribute name="dlco" type="integer"/>
		<attribute name="dogl" type="integer"/>
		<attribute name="DownloadLevel" type="vsg:IntegerType"/>
		<attribute name="drtt" type="integer"/>
		<attribute name="dsgl" type="integer"/>
		<attribute name="Duration" type="decimal"/>
		<attribute name="ExtraPyramidLevels" type="vsg:IntegerType"/>
		<attribute name="Evnt" type="integer"/>
		<attribute name="Fade" type="vsg:Boolean"/>
		<attribute name="Front" type="vsg:Vector3DString"/>
		<attribute name="haco" type="vsg:Vector3DString"/>
		<attribute name="hain" type="decimal"/>
		<attribute name="halo" type="integer"/>
		<attribute name="hasc" type="decimal"/>
		<attribute name="ImageSize" type="string"/>
		<attribute name="inco" type="vsg:Vector3DString"/>
		<attribute name="Init" type="vsg:IntegerType"/>
		<attribute name="InvertAlpha" type="nonNegativeInteger"/>
		<attribute name="lico" type="vsg:Vector3DString"/>
		<attribute name="liin" type="decimal"/>
		<attribute name="LimitDownload" type="integer"/>
		<attribute name="lisc" type="decimal"/>
		<attribute name="lmap" type="integer"/>
		<attribute name="loc2" type="vsg:Vector2DString"/>
		<attribute name="loc3" type="vsg:Vector3DString"/>
		<attribute name="Loop" type="vsg:Boolean"/>
		<attribute name="MemoryMax" type="nonNegativeInteger"/>
		<attribute name="Name" type="string"/>
		<attribute name="On" type="vsg:Boolean"/>
		<attribute name="Opac" type="decimal"/>
		<attribute name="ouco" type="vsg:Vector3DString"/>
		<attribute name="Path" type="string"/>
		<attribute name="PostAnimator" type="nonNegativeInteger"/>
		<attribute name="PreAnimator" type="nonNegativeInteger"/>
		<attribute name="refl" type="integer"/>
		<attribute name="rein" type="decimal"/>
		<attribute name="resc" type="decimal"/>
		<attribute name="rtco" type="vsg:Vector3DString"/>
		<attribute name="Sel" type="vsg:IntegerType"/>
		<attribute name="SharpenAlpha" type="decimal"/>
		<attribute name="SharpenRadius" type="decimal"/>
		<attribute name="Snap" type="integer"/>
		<attribute name="soco" type="vsg:Vector3DString"/>
		<attribute name="stan" type="decimal"/>
		<attribute name="stin" type="decimal"/>
		<attribute name="stca" type="decimal"/>
		<attribute name="stco" type="vsg:Vector3DString"/>
		<attribute name="strk" type="integer"/>
		<attribute name="stro" type="decimal"/>
		<attribute name="stsc" type="decimal"/>
		<attribute name="TimelineSrc" type="string"/>
		<attribute name="TileExtent" type="string"/>
		<attribute name="TileSize" type="nonNegativeInteger"/>
		<attribute name="Transform" type="string"/>
		<attribute name="Type" type="vsg:MTSTimeElemTypeType"/>
		<attribute name="UseShortName" type="string"/>
		<attribute name="UseAsAlpha" type="vsg:Boolean"/>
		<attribute name="vio2" type="vsg:Vector2DString"/>
		<attribute name="vno3" type="vsg:Vector3DString"/>
		<attribute name="Volume" type="string"/>
		<attribute name="Zfit" type="integer"/>
		<attribute name="zmax" type="vsg:Vector2DString"/>
		<attribute name="zmin" type="vsg:Vector2DString"/>
		<attribute name="Zoom" type="decimal"/>
		<attribute name="ZoomMax" type="decimal"/>
		<attribute name="ZoomMin" type="decimal"/>
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
	</complexType>
	<simpleType name="MTSTimeElemTypeType">
		<restriction base="string">
			<enumeration value="ZoomView"/>
			<enumeration value="MTSZoomView"/>
			<enumeration value="Keyframe"/>
			<enumeration value="MTSStream"/>
			<enumeration value="Sound"/>
			<enumeration value="ObjectLoader"/>
			<enumeration value="Texture"/>
			<enumeration value="AlignRot"/>
			<enumeration value="VolumeTrigger"/>
			<enumeration value="MTSImageStream"/>
			<enumeration value="SWFView"/>
			<enumeration value="ActionAnimator"/>
			<enumeration value="MTSObjectMovie"/>
			<enumeration value="Emboss"/>
			<enumeration value="ResetVerts"/>
			<enumeration value="VertMorph"/>
			<enumeration value="MTSLensFlares"/>
			<enumeration value="VMPSpeech"/>
		</restriction>
	</simpleType>
	<complexType name="TargetType">
		<attribute name="Name" type="string"/>
		<attribute name="Property" type="string"/>
		<attribute name="Timeline" type="string"/>
	</complexType>
	<complexType name="TimelineType">
		<simpleContent>
			<extension base="string">
				<attribute name="Name" type="string"/>
				<attribute name="Tween" type="vsg:Boolean"/>
				<attribute name="Type" type="string"/>
				<attribute name="FPSboundaries" type="string"/>
				<attribute name="Visible" type="string"/>
				<attribute name="Paused" type="string"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="BackgroundType">
		<attribute name="Name" type="string"/>
	</complexType>
	<complexType name="RefObjectType">
		<attribute name="Name" type="string"/>
	</complexType>
	<complexType name="TextType">
		<attribute name="alph" type="vsg:Boolean"/>
		<attribute name="Center" type="vsg:Boolean"/>
		<attribute name="col1" type="decimal"/>
		<attribute name="col2" type="decimal"/>
		<attribute name="col3" type="vsg:Vector3DString"/>
		<attribute name="ColorA" type="string"/>
		<attribute name="ColorB" type="decimal"/>
		<attribute name="fill" type="integer"/>
		<attribute name="Font" type="string"/>
		<attribute name="Name" type="string"/>
		<attribute name="Size" type="nonNegativeInteger"/>
		<attribute name="String" type="string"/>
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
		<!-- bp -->
	</complexType>
	<complexType name="EventType">
		<attribute name="Type" type="string"/>
	</complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~End of MTSTimeElem  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="TransformType">
		<all>
			<element name="Position" type="vsg:Vector3DType" minOccurs="0"/>
			<element name="Rotate" type="vsg:Vector3DType" minOccurs="0"/>
			<element name="Scale" type="vsg:Vector3DType" minOccurs="0"/>
			<element name="Shear" minOccurs="0">
				<complexType>
					<attribute name="xy" type="decimal"/>
					<attribute name="yz" type="decimal"/>
					<attribute name="xz" type="decimal"/>
				</complexType>
			</element>
		</all>
		<attribute name="Type" type="string"/>
	</complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<simpleType name="RenderModeType">
		<restriction base="string">
			<enumeration value="Default"/>
			<enumeration value="default"/>
			<enumeration value="Gouraud"/>
			<enumeration value="Intensity"/>
			<enumeration value="Sketch"/>
			<enumeration value="Flat"/>
			<enumeration value="Texture"/>
			<enumeration value="TextureI"/>
			<enumeration value="Texture RGB"/>
			<enumeration value="Wire"/>
			<enumeration value="Point"/>
			<enumeration value="Lightmap"/>
			<enumeration value="LightTexture"/>
			<enumeration value="LightTextMod"/>
		</restriction>
	</simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="Vector3DType">
		<attribute name="x" type="decimal"/>
		<attribute name="y" type="decimal"/>
		<attribute name="z" type="decimal"/>
	</complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<complexType name="Vector2DType">
		<attribute name="x" type="decimal"/>
		<attribute name="y" type="decimal"/>
	</complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<simpleType name="Boolean">
		<restriction base="nonNegativeInteger">
			<enumeration value="0"/>
			<enumeration value="1"/>
		</restriction>
	</simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<simpleType name="Vector3DString">
		<restriction base="string"/>
	</simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<simpleType name="Vector2DString">
		<restriction base="string"/>
	</simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<simpleType name="RGBType">
		<restriction base="string">
			<pattern value="((\.[0-9]*|0(\.[0-9]*)?|1(\.[0]*)?) (\.[0-9]*|0(\.[0-9]*)?|1(\.[0]*)?) (\.[0-9]*|0(\.[0-9]*)?|1(\.[0]*)?))?"/>
		</restriction>
	</simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<simpleType name="SeroToOneType">
		<restriction base="decimal">
			<totalDigits value="6"/>
			<fractionDigits value="5"/>
			<minInclusive value="0"/>
			<maxInclusive value="1"/>
		</restriction>
	</simpleType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Depricated -->
	<simpleType name="IntegerType">
		<restriction base="decimal">
			<minInclusive value="0"/>
		</restriction>
	</simpleType>
</schema>
